<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../static/css/app.css" rel="stylesheet">

</head>

<body>

    <div class="wrapper">
        <div class="maincontent">
            <div class="container">
                <!--<div id="home" class="flex-center flex-column">-->
                <h1>My Photo Library</h1>
            </div>
            <div class="container">
                <!--<div id="home" class="flex-center flex-column">-->
                <a class="btn" href="showSignIn"> *Sign into my account* </a>
                <a class="btn" href="#"> ** </a>
                <a class="btn" href="showHome"> *Back* </a>
            </div>
            <h1>~~~~~~~~~</h1>

        </div>
    </div>

    <div class="container3">
        <h2>Sign up to my photo album</h2>
        <form class="form-signin">

            <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>

            <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button" href=/signUp>Sign up</button>
        </form>
    </div>


    <footer class="footer">
        <p>&copy;* Cmpg 323 project 2 </p>
        <p>&copy;Ethan van Breda 31583776 a</p>
    </footer>

</body>

</html>