<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<head>
    <title>Python Flask Photo Album Webapp</title>
    <link href="../static/css/app.css" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <div class="maincontent">
            <div class="container">
                <!--<div id="home" class="flex-center flex-column">-->
                <h1>My Photo Library</h1>
            </div>
            <div class="container">
                <!--<div id="home" class="flex-center flex-column">-->
                <a class="btn" href="showSignIn"> *Sign into my account* </a>
                <a class="btn" href="showSignUp"> *Create New Account* </a>
            </div>
            <h1>~~~~~~~~~</h1>

        </div>
    </div>

    <footer class="footer">
        <div class="container2">
            <h2>Welcome to my photo library</h2>
            <h4>Ethan van Breda</h4>
            <p>This web application is made to share, upload and download pictures, This application was created on request using custom back-end development without the assistance of web tools. It allows the user to</p>
            <p>Upload pictures, edit picture metadata, download pictures, share pictures with other users, manage access to pictures and several other functions</p>
            <a class="more" href="#">Read More</a>
            <a href="#">Additonal info</a>
            <a href="#">Contact Information</a>

        </div>

        <footer class="footer">
            <p>&copy;* Cmpg 323 project 2 Ethan van Breda 31583776</p>
        </footer>

        </div>

</body>

</html>