<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<head>
    <title>Python Flask Photo Album Webapp</title>
    
    <link href="../static/css/app.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
     <div class="maincontent">
        <ul class="tabs">
            <li><a href="#tab1">All</a></li>
            <li><a href="#tab2">About</a></li>
            <li><a href="#tab3">Reviews</a></li>
            <li><a href="#tab4">Contact Information</a></li>
		</ul>

        <div class="tab_container">
            <div id="tab1" class="tab_content">
                <div class="post">
                   <!--<div id="home" class="flex-center flex-column">--> 
                        <a class="btn" href="showSignUp"> *Sign into my account* </a>
                        <a class="btn" href="showSignIn"> *Create New Account* </a>
                        <a class="btn" href="showSignIn"> ** </a>
                    </div>
                </div>
            </div><!--End Tab 1-->

            <div id="tab2" class="tab_content">
                <p>This web application was created to manage, share and store pictures on the web</p>
            </div><!--End Tab 2 -->

            <div id="tab3" class="tab_content">
            </div><!--End Tab 3 -->
            
             <div id="tab4" class="tab_content">
            </div><!--End Tab 4 -->   
        </div>     

            <footer class="footer">
                <p>&copy; Created by Ethan van Breda 31583776</p>
                <p>&copy; 31583776</p>
            </footer>
        
        </div> 
    </div>
    
</body>

</html>