<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized access</title>
    <link href="../static/css/app.css" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <div class="maincontent">
            <div class="container">
                <!--<div id="home" class="flex-center flex-column">-->
                <h1>My Photo Library</h1>
            </div>
            <div class="container">
                <!--<div id="home" class="flex-center flex-column">-->
                <a class="btn" href="/showhome"> *Back to home* </a>
            </div>
            <h1>~~~~~~~~~</h1>

        </div>
        <div class="container3">
            <!--<div id="home" class="flex-center flex-column">-->
            <a class="btn" href="showSignIn"> *Sign into my account* </a>
            <a class="btn" href="showSignUp"> *Create New Account* </a>
        </div>
    </div>
</body>

</html>