<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/app.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="maincontent">
            <div class="container">
                <!--<div id="home" class="flex-center flex-column">-->
                <h1>My Photo Library</h1>
            </div>
            <div class="container">
                <!--<div id="home" class="flex-center flex-column">-->
                <a class="btn" href="showSignIn"> *Sign into my account* </a>
                <a class="btn" href="showSignUp"> *Create New Account* </a>
                <a class="btn" href="/showHome"> *Back Home* </a>
            </div>
            <h1>~~~~~~~~~</h1>


        </div>
    </div>

    <footer class="footer">
        <div class="container2">
            <h2>Welcome to my photo library</h2>
            <p>This web application is made to share, upload and download pictures, This application was created on request using custom back-end development without the assistance of web tools. It allows the user to upload, edit, delete, preview photos
                that they have uploaded or received</p>
            <p>This application uses several technolohies, these include phpAdmin, MySQL, XAMPP server hosting, HTML and css codin jquery and bootstrap librariesm, and finally python as the base programming connector</p>

            <p>For more information please contact 31583776@nwu.az.az or call +55 555 555</p>
        </div>
</body>

</html>